<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse1.mm.bing.net/th?id=OIP._hnviUfFXJHTTMJxH0hv9QHaE8&pid=Api&P=0&w=252&h=168" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken Biriyani</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse4.mm.bing.net/th?id=OIP.BRYMgvTcDok3SVSvJZuDcgHaEK&pid=Api&P=0&w=275&h=154" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mutton Biriyani</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse4.mm.bing.net/th?id=OIP.xCr9Xcccv2byqjl1ig29UAHaHa&pid=Api&P=0&w=169&h=169" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chicken curry</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse2.mm.bing.net/th?id=OIP.IefqlZGnrtNFnDp4y4Kf5gHaFj&pid=Api&P=0&w=204&h=153" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mutton Curry</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse4.mm.bing.net/th?id=OIP.T01RJmIj5aqkKaHsS78nIAHaFD&pid=Api&P=0&w=253&h=173" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Appam</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse1.mm.bing.net/th?id=OIP.7qBN-aYrgzwIfMm10ntZrQHaLG&pid=Api&P=0&w=105&h=158" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Falooda</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse1.mm.bing.net/th?id=OIP.54H7cFwCZ16yDWwWuOAz1wHaEK&pid=Api&P=0&w=301&h=169" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shawarma</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse1.mm.bing.net/th?id=OIP.b411kdyK8iBFpENVIQqtFwHaEK&pid=Api&P=0&w=301&h=169" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Fried Rice</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse2.mm.bing.net/th?id=OIP.AIAnAXRyaJMWU_TxYHtXVQHaFj&pid=Api&P=0&w=246&h=184" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Roti</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img height="200" src="https://tse2.mm.bing.net/th?id=OIP.rgz4oOe8-k7MaHLS_GxSqgHaHa&pid=Api&P=0&w=159&h=159" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mango juice</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
